Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add test for patch replication
  test/proxy/gitFetch.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: rename Project URN -> Project ID
  cypress/integration/deep_linking.spec.ts
  cypress/integration/search.spec.ts
  design-system/lib/format.ts
  docs/submit-patch-using-upstream.md
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/SearchModal.svelte
  ui/App/SharedComponents/CopyableIdentifier.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: automatically sync patches with via upstream cli
  cypress/integration/project/patches.spec.ts
  docs/code-contribution-using-upstream.md
  docs/submit-patch-using-upstream.md
  ui/App/ProjectScreen/Source/NewPatchButton.svelte
  upstream-cli/src/bin/upstream.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: replaced Typeform with Airtable for feedback form
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write, ./scripts/license-header.ts check

refactor RadicleProxy
  test/proxy/gitFetch.test.ts
  test/proxy/support/proxyRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: 404 broken link on wallet screen
  ui/App/WalletScreen/QrCodeModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use random port for tests
  docs/development.md
  package.json
  test/proxy/gitFetch.test.ts
  test/proxy/support/proxyRunner.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

make ProjectSeedStore private and integrate it into git_fetch::Handle
  upstream-proxy/src/context.rs
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/http/control.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/project.rs
Due: ./scripts/license-header.ts check

encapsulate user handle generation
  test/proxy/gitFetch.test.ts
  test/proxy/support/proxyRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fail on any rust doc lint warnings on CI
  ci/build.sh
Due: ./scripts/license-header.ts check

improve documentation and names for `git_fetch` service
  upstream-proxy/src/git_fetch.rs
Due: ./scripts/license-header.ts check

feat: make the design system importable in other projects
  design-system/LICENSE
  design-system/README.md
  design-system/package.json
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

new button style + new icons
  design-system/Button.svelte
  design-system/icons/ThumbsDown.svelte
  design-system/icons/ThumbsUp.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

new button style + new icons (#2820)
  design-system/Button.svelte
  design-system/icons/ThumbsDown.svelte
  design-system/icons/ThumbsUp.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: refresh project screen on monorepo updates
  proxy-client/index.ts
  proxy-client/project.ts
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/src/project/patch.ts
  ui/src/screen/project.ts
  ui/src/screen/project/source.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

migrate keystore and diagnostics endpoins from warp to axum
  Cargo.lock
  upstream-proxy/Cargo.toml
  upstream-proxy/src/context.rs
  upstream-proxy/src/error.rs
  upstream-proxy/src/http.rs
  upstream-proxy/src/http/diagnostics.rs
  upstream-proxy/src/http/error.rs
  upstream-proxy/src/http/keystore.rs
  upstream-proxy/src/http_next.rs
  upstream-proxy/src/http_next/diagnostics.rs
  upstream-proxy/src/http_next/keystore.rs
  upstream-proxy/src/lib.rs
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

hard-code daemon peer discovery
  upstream-proxy/src/daemon/config.rs
  upstream-proxy/src/peer.rs
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

allow `.unwrap()` in Rust tests
  upstream-proxy/src/lib.rs
Due: ./scripts/license-header.ts check

extract proxy test helpers into module
  test/proxy/gitFetch.test.ts
  test/proxy/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: disable link to web if the project seed isn't determined
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

show domain and port in checkout command
  proxy-client/project.ts
  ui/App/ProjectScreen/Source.svelte
  upstream-proxy/src/project.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use IP instead of localhost for devnet git seed
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

upstream honors git seed config via environment
  native/config.ts
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove unneeded components
  ui/App/ProfileScreen/NewProjectButton.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/NewPatchButton.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix elevation styles
  design-system/Hovercard.svelte
  design-system/Showcase.svelte
  design-system/Showcase/ElevationSwatch.svelte
  design-system/Showcase/Section.svelte
  design-system/static/colors.css
  design-system/static/elevation.css
  ui/App/ModalLayout/Modal.svelte
  ui/App/SearchModal.svelte
  ui/App/SharedComponents/CommandModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix build
  ui/App/ProjectScreen/Source.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@6e8f35f739e1b1e80472a8c68dcd143c2359de8e 🚀
  index.html
Due: prettier --write, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@db3c7d870605231a411fe31518a36488cc2c2345 🚀
  index.html
Due: prettier --write, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@cb0a50f4cf27ba98e9d961fad3146ce7203be544 🚀
  index.html
Due: prettier --write, ./scripts/license-header.ts check

feat: automatically deploy design system to github pages
  .github/workflows/deploy-design-system.yaml
  ci/build-design-system.sh
  ci/dist.sh
  design-system/build/twemoji/.gitkeep
  package.json
  scripts/deploy-design-system.sh
Due: prettier --write, ./scripts/license-header.ts check

improve axum error handling
  upstream-proxy/src/http/error.rs
  upstream-proxy/src/http_next.rs
  upstream-proxy/src/http_next/keystore.rs
Due: ./scripts/license-header.ts check

migrate session endpoint to http_next
  upstream-proxy/src/http.rs
  upstream-proxy/src/http/session.rs
  upstream-proxy/src/http_next.rs
  upstream-proxy/src/http_next/session.rs
Due: ./scripts/license-header.ts check

add test hook that ensures `upstream-proxy` is built.
  test/proxy/gitFetch.test.ts
  test/proxy/support/proxyRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove unused module
  upstream-proxy/src/env.rs
  upstream-proxy/src/lib.rs
Due: ./scripts/license-header.ts check

return peerIds in project metadata from proxy
  proxy-client/project.ts
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/src/project.ts
  ui/src/project/patch.ts
  upstream-proxy/src/project.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix web links for browsing projects
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
