Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

hardcode seed URL in tests
  test/proxy/gitFetch.test.ts
  test/proxy/support.ts
  test/proxy/support/proxyRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

`createProject()` in tests wait until the proxy knows the seed
  test/proxy/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add `retry` shorthand to test support functions
  test/proxy/gitFetch.test.ts
  test/proxy/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: get rid of read_only_storage in the context object
  upstream-proxy/src/context.rs
  upstream-proxy/src/http/identity.rs
Due: ./scripts/license-header.ts check

fix: push own identity to seed when forking a project
  ui/App/ProjectScreen/Source.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove redundant `rad sync` from test
  test/proxy/gitFetch.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fetch project remote Person identities periodically
  test/proxy/gitFetch.test.ts
  upstream-proxy/src/git_fetch.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

don’t warn when broadcast channel has only inactive receivers
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/watch_monorepo.rs
Due: ./scripts/license-header.ts check

add empty state when patch isn't found
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/src/project/patch.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Allow setting an icon on SegmentedControlOption
  design-system/SegmentedControl.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@cd0b7164f143484dafa099477f06d15219bad76e 🚀
  bundle.js
  bundle.js.map
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

don’t typecheck on development builds
  proxy-client/index.ts
  tsconfig.json
  ui/src/localPeer.ts
  webpack.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add URN and custom path extractor
  upstream-proxy/src/http_next.rs
  upstream-proxy/src/http_next/diagnostics.rs
Due: ./scripts/license-header.ts check

migrate identity endpoint to http_next
  upstream-proxy/src/http.rs
  upstream-proxy/src/http/identity.rs
  upstream-proxy/src/http_next.rs
  upstream-proxy/src/http_next/identity.rs
Due: ./scripts/license-header.ts check

fix: create identity when launching devnet
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: set up playwright for e2e tests
  .gitignore
  ci/build.sh
  cypress/integration/lock.spec.ts
  docs/development.md
  jest.config.js
  package.json
  playwright.config.ts
  test/e2e/gitReplication.test.ts
  test/e2e/lock.test.ts
  test/proxy/gitFetch.test.ts
  test/support.ts
  test/support/jest/testFilter.js
  test/support/peerRunner.ts
  test/support/playwright/fixtures.ts
  test/support/playwright/globalSetup.ts
  test/support/playwright/helpers.ts
  test/support/playwright/ipcStub.js
  test/support/process.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: improve UI loading states
  design-system/LoadingAnimation.svelte
  design-system/Showcase.svelte
  ui/App.svelte
  ui/App/DiagnosticsScreen/WaitingRoom.svelte
  ui/App/LoadingScreen.svelte
  ui/App/OrgsScreen.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/App/SharedComponents/Loading.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add test for contributor branch replication
  test/e2e/gitReplication.test.ts
  test/support/peerRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@aee1f1c909e6ddb038aca8b456e28e015045f303 🚀
  bundle.js.map
Due: ./scripts/license-header.ts check

fix typo in e2e test assertion
  test/e2e/gitReplication.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update devnet development docs
  docs/development.md
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove unneeded specs
  cypress/integration/attestation.spec.ts
  cypress/integration/shortcuts.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: port modal spec from Cypress to Playwright
  cypress/integration/modal.spec.ts
  test/e2e/modal.test.ts
  test/support/playwright/fixtures/hotkeys.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: port search spec from Cypress to Playwright
  cypress/integration/project/track.spec.ts
  cypress/integration/search.spec.ts
  test/e2e/gitReplication.test.ts
  test/e2e/search.test.ts
  test/proxy/gitFetch.test.ts
  test/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: extract hotkeys fixture
  test/e2e/gitReplication.test.ts
  test/e2e/search.test.ts
  test/support/playwright/fixtures.ts
  test/support/playwright/fixtures/hotkeys.ts
  test/support/playwright/helpers.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify lock test
  test/e2e/lock.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add new pause icon
  design-system/icons/Pause.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add new pause icon (#2832)
  design-system/icons/Pause.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

tests: set checkout seed when creating project
  test/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

cache playwright executables
  .github/workflows/build.yaml
  ci/build.sh
Due: ./scripts/license-header.ts check

chore: port patch spec from Cypress to Playwright
  cypress/integration/project/patches.spec.ts
  test/e2e/gitReplication.test.ts
  test/e2e/modal.test.ts
  test/e2e/patch.test.ts
  test/e2e/search.test.ts
  test/support.ts
  test/support/peerRunner.ts
  test/support/playwright/fixtures.ts
  test/support/playwright/fixtures/app.ts
  test/support/playwright/fixtures/hotkeys.ts
  test/support/playwright/fixtures/projectScreen.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ci: speed up e2e tests by running them in parallel on CI
  playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove upstream-seed
  Cargo.lock
  Cargo.toml
  ci/dist.sh
  upstream-seed/Cargo.toml
  upstream-seed/README.md
  upstream-seed/build.rs
  upstream-seed/src/cli.rs
  upstream-seed/src/lib.rs
  upstream-seed/src/main.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

update Rust toolchain and cargo dependencies
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  rust-toolchain
  upstream-proxy/Cargo.toml
  upstream-proxy/src/daemon/request.rs
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

remove unused regex for seed validation
  ui/src/session.test.ts
  ui/src/session.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

vendor radicle-contracts package
  .gitignore
  .yarn/vendor/radicle-avatar-v0.1.0-g55640c8.tgz
  .yarn/vendor/radicle-contracts-v0.1.0-g157a5b5.tgz
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@c46b2913ad04c737321121c66661fa4042c17096 🚀
  bundle.js
  bundle.js.map
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show copy link button in patch list
  cypress/integration/deep_linking.spec.ts
  design-system/Button.svelte
  design-system/icons/Link.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update Emoji.svelte
  design-system/Emoji.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: replace CompareBranches component with copy link icon
  ui/App/ProjectScreen/Source/BranchBox.svelte
  ui/App/ProjectScreen/Source/CompareBranches.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/src/project/patch.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
