Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update cargo dependencies
  Cargo.lock
  upstream-cli/src/bin/upstream.rs
Due: ./scripts/license-header.ts check

chore: scope the build badges by branch
  README.md
Due: ./scripts/license-header.ts check

proxy-client works with node-fetch
  cypress/plugins/nodeManager/plugin.ts
  p2p-tests/lib/p2p.ts
  proxy-client/fetcher.ts
  proxy-client/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove auth token checks
  cypress/plugins/nodeManager/plugin.ts
  cypress/support/nodeManager.ts
  p2p-tests/lib/p2p.ts
  package.json
  scripts/devnet.ts
  upstream-proxy/src/cli.rs
  upstream-proxy/src/context.rs
  upstream-proxy/src/error.rs
  upstream-proxy/src/http.rs
  upstream-proxy/src/http/error.rs
  upstream-proxy/src/http/keystore.rs
  upstream-proxy/src/process.rs
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: use key stored in ssh-agent for unlocking the GUI
  upstream-proxy/src/context.rs
  upstream-proxy/src/peer.rs
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

feat: add radicle key to ssh-agent on app unlock
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

add dev command to load ssh keys
  p2p-tests/lib/p2p.ts
  scripts/devnet.ts
  upstream-proxy/src/bin/upstream-proxy-dev.rs
  upstream-proxy/src/dev_cli.rs
  upstream-proxy/src/lib.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: pre-fill patch title and description
  upstream-cli/src/bin/upstream.rs
Due: ./scripts/license-header.ts check

fix: fix networking specs
  package.json
Due: prettier --write, ./scripts/license-header.ts check

fix: fix patches spec
  upstream-cli/src/bin/upstream.rs
Due: ./scripts/license-header.ts check

remove unused provider key from event
  ui/src/localPeer.ts
  upstream-proxy/src/notification.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy-client: add events support
  p2p-tests/lib/p2p.ts
  package.json
  proxy-client/events.ts
  proxy-client/events/waitingRoom.ts
  proxy-client/index.ts
  tsconfig.json
  ui/src/localPeer.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: don't log ssh-agent related exceptions
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

chore: hide all Ethereum features
  cypress/integration/attestation.spec.ts
  cypress/integration/onboarding.spec.ts
  ui/App/OnboardingModal/Success.svelte
  ui/App/SettingsScreen.svelte
  ui/App/Sidebar.svelte
  ui/src/wallet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update rust toolchain
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .github/workflows/p2p-network-tests.yaml
  rust-toolchain
Due: ./scripts/license-header.ts check

update cargo deps
  Cargo.lock
  Cargo.toml
  deny.toml
  upstream-proxy/Cargo.toml
  upstream-proxy/src/control.rs
  upstream-proxy/src/daemon.rs
  upstream-proxy/src/daemon/project/create/validation.rs
Due: ./scripts/license-header.ts check

fix: fix patch update event handling in UI
  cypress/integration/project/patches.spec.ts
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove unlinked rust files in deamon
  upstream-proxy/src/daemon.rs
  upstream-proxy/src/daemon/announcement.rs
  upstream-proxy/src/daemon/checkout.rs
  upstream-proxy/src/daemon/command.rs
  upstream-proxy/src/daemon/control.rs
  upstream-proxy/src/daemon/create.rs
  upstream-proxy/src/daemon/create/validation.rs
  upstream-proxy/src/daemon/error.rs
  upstream-proxy/src/daemon/existential.rs
  upstream-proxy/src/daemon/gossip.rs
  upstream-proxy/src/daemon/include.rs
  upstream-proxy/src/daemon/input.rs
  upstream-proxy/src/daemon/run_state.rs
  upstream-proxy/src/daemon/running_waiting_room.rs
  upstream-proxy/src/daemon/sealed.rs
  upstream-proxy/src/daemon/states.rs
  upstream-proxy/src/daemon/subroutines.rs
  upstream-proxy/src/daemon/validation.rs
  upstream-proxy/src/daemon/waiting_room.rs
Due: ./scripts/license-header.ts check

tests: improve test process APIs
  p2p-tests/lib/p2p.ts
  p2p-tests/lib/process.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

implement fetching from git seeds
  .gitignore
  Cargo.lock
  Cargo.toml
  deny.toml
  jest.config.js
  native/index.ts
  p2p-tests/lib/p2p.ts
  package.json
  test/proxy/sync.test.ts
  tsconfig.json
  ui/App/ProfileScreen.svelte
  upstream-proxy/Cargo.toml
  upstream-proxy/src/cli.rs
  upstream-proxy/src/context.rs
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/http/notification.rs
  upstream-proxy/src/http/project/request.rs
  upstream-proxy/src/lib.rs
  upstream-proxy/src/peer.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/project.rs
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

handle more tasks in shutdown runner
  upstream-proxy/src/shutdown_runner.rs
Due: ./scripts/license-header.ts check

chore: update npm dependencies
  .nvmrc
  .tool-versions
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

chore: use LNK_HOME env variable for radicle-http-api
  infra/seed-node/radicle-http-api.env
Due: ./scripts/license-header.ts check

put LNK_HOME into subfolder for devnet
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

upstream-proxy-dev init configures identity for use with CLI
  upstream-proxy/src/dev_cli.rs
Due: ./scripts/license-header.ts check

feat: update patch UI when there are local monorepo changes
  cypress/integration/project/patches.spec.ts
  ui/src/screen/project/source.ts
  upstream-proxy/src/context.rs
  upstream-proxy/src/http/notification.rs
  upstream-proxy/src/lib.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/watch_monorepo.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style: shorten PeerId in the branch comparison component
  ui/App/ProjectScreen/Source/CompareBranches.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

git fetch refs from all tracked remotes except host peer
  scripts/devnet.ts
  upstream-proxy/src/git_fetch.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

trigger immediate background fetch when remote is tracked
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/http/project/request.rs
Due: ./scripts/license-header.ts check

git-remote-rad uses key from SSH agent if available
  Cargo.lock
  cypress/support/nodeManager.ts
  upstream-proxy/Cargo.toml
  upstream-proxy/src/bin/git-remote-rad.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add method, status and URL to ResponseError
  cypress/support/commands.ts
  proxy-client/fetcher.ts
  ui/src/org.ts
  ui/src/session.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

repurpose network screen for hardcoded seed nodes
  cypress/integration/networking.spec.ts
  ui/App.svelte
  ui/App/PushPullNetworkScreen.svelte
  ui/App/Sidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: refresh project list on project creation via cli
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update npm dependencies
  package.json
  ui/src/attestation/contract.ts
  ui/src/memoizeLru.ts
  ui/src/org/ensResolver.ts
  ui/src/org/theGraphApi.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update cargo deps
  Cargo.lock
  upstream-proxy/Cargo.toml
  upstream-proxy/src/http/source.rs
Due: ./scripts/license-header.ts check

get correct patch data for peer with duplicate patch ID
  ui/src/project/patch.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: replace in-app checkout with `rad checkout`
  cypress/integration/networking.spec.ts
  cypress/integration/project/checkout.spec.ts
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/ForkCheckoutProjectButton.svelte
  ui/App/ProjectScreen/Source/MergePatchButton.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add `devnet reset` command
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: replace in-app "New project" button with `rad init`
  cypress/integration/modal.spec.ts
  cypress/integration/project/creation.spec.ts
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/NewProjectButton.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove tests that use gossip replication
  .github/workflows/p2p-network-tests.yaml
  cypress/integration/networking.spec.ts
  cypress/integration/project/patches.spec.ts
  cypress/support/nodeManager.ts
  p2p-tests/active-sets-test.ts
  p2p-tests/contributor-fork-replication-1-test.ts
  p2p-tests/contributor-fork-replication-2-test.ts
  p2p-tests/keys/seed-hybfoqx9wrdjhnr9jyb74zpduph57z99f67bjgfnsf83p1rk7z1diy.key
  p2p-tests/lib/topology.sh
  p2p-tests/maintainer-update-propagation-1-test.ts
  p2p-tests/maintainer-update-propagation-2-test.ts
  p2p-tests/maintainer-update-propagation-3-test.ts
  p2p-tests/mesh-topology.sh
  p2p-tests/star-topology.sh
  p2p-tests/workspace/.gitkeep
  test/proxy/support/process.ts
  test/proxy/support/proxyRunner.ts
  test/proxy/sync.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
