Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

fixup! seed: more robust shutdown with task runner
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

fixup! fixup! seed: more robust shutdown with task runner
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

seed: more robust shutdown with task runner
  Cargo.lock
  upstream-seed/Cargo.toml
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

fix: reduce spec flakiness
  cypress.json
  cypress/integration/networking.spec.ts
  cypress/integration/project/patches.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

clean up CI build script
  ci/build.sh
  package.json
Due: prettier --write, ./scripts/license-header.ts check

cache more efficiently on CI
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  ci/build.sh
  ci/env.sh
Due: ./scripts/license-header.ts check

seed: log info about connections and gossip membership
  Cargo.lock
  upstream-seed/Cargo.toml
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

prevent pushing fixup commits to master with git hook
  .husky/pre-push
Due: ./scripts/license-header.ts check

seed: announce projects whenever new peer connects.
  Cargo.lock
  upstream-seed/Cargo.toml
  upstream-seed/README.md
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

support userprofile + attested address
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProfileSidebar.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use sidebarstore on own profile
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: show handle from metadata if none is passed via props
  ui/App/SharedComponents/UserIdentity.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

look up ens registrations for orgs
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix notification error
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix notification error again
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

show sidebar with emptystate
  ui/App/ProfileScreen.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

improve empty state text
  ui/App/OrgsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix max width blue screen of death
  ui/App/UnrecoverableErrorScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

create fallback when imageUrl is false
  design-system/Avatar.svelte
  design-system/static/img/fallback.svg
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: document seed-node instance
  docs/infrastructure.md
Due: ./scripts/license-header.ts check

Hard wrap
  design-system/icons/Blocky.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update blocky function and alt in avatar component
  design-system/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

rename export + shuffle imports
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProfileSidebar.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove try/catch
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add switch to disable HTTP API auth token check
  proxy/api/src/cli.rs
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: ./scripts/license-header.ts check

refactor fallback img for invalid urls
  design-system/Avatar.svelte
  design-system/static/img/fallback.svg
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove try/catch
  ui/App/ProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add title to fallback image
  design-system/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix fixed header max width
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix image fallback
  design-system/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix image fallback (#2602)
  design-system/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Bug squashing (#2597)
  design-system/Avatar.svelte
  ui/App/OrgsScreen.svelte
  ui/App/ProjectScreen.svelte
  ui/App/UnrecoverableErrorScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Profile sidebar + ENS integration on profiles (#2559)
  design-system/Avatar.svelte
  design-system/icons/Blocky.svelte
  design-system/lib/blockies.ts
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProfileSidebar.svelte
  ui/App/UserProfileScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update radicle-link and cargo dependencies
  Cargo.lock
  Cargo.toml
  deny.toml
Due: ./scripts/license-header.ts check

seed: replicate projects from all providing peers
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

eliminate unsafe-fast-keystore feature flag
  ci/build.sh
  proxy/api/Cargo.toml
  proxy/api/src/cli.rs
  proxy/api/src/keystore.rs
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: ./scripts/license-header.ts check

update cargo dependencies to address RUSTSEC-2021-0124
  Cargo.lock
Due: ./scripts/license-header.ts check

aligned sidebar width to profile page
  ui/App/OrgScreen.svelte
  ui/App/SingleSigOrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use `main` as default branch
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .husky/pre-push
  docs/development.md
  docs/infrastructure.md
  docs/qa.md
  proxy/api/Cargo.toml
  scripts/release.ts
  upstream-seed/Cargo.toml
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
