Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

disable gossip network
  docs/code-contribution-using-upstream.md
  docs/submit-patch-using-upstream.md
  native/index.ts
  scripts/devnet.ts
  ui/App/NetworkScreen.svelte
  ui/App/ProjectScreen/Source/MergePatchButton.svelte
  ui/App/ProjectScreen/Source/PatchButton.svelte
  upstream-proxy/src/cli.rs
  upstream-proxy/src/context.rs
  upstream-proxy/src/daemon.rs
  upstream-proxy/src/daemon/config.rs
  upstream-proxy/src/daemon/seed.rs
  upstream-proxy/src/http/identity.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/http/session.rs
  upstream-proxy/src/peer.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/session.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: clean up settings screen
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: adjust all cli command buttons and modals
  ui/App/ProfileScreen/NewProjectButton.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/CheckoutPatchButton.svelte
  ui/App/ProjectScreen/Source/ForkCheckoutProjectButton.svelte
  ui/App/ProjectScreen/Source/MergePatchButton.svelte
  ui/App/ProjectScreen/Source/NewPatchButton.svelte
  ui/App/SharedComponents/Copyable.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix patch specs
  cypress/integration/project/patches.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove unused build badge
  README.md
Due: ./scripts/license-header.ts check

chore: update upstream seed infra to run git server
  infra/seed-node/Caddyfile
  infra/seed-node/README.md
  infra/seed-node/radicle-git-server.env
  infra/seed-node/radicle-git-server.service
  infra/seed-node/setup.sh
  infra/seed-node/update-radicle-http-api.sh
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix git-server and http-api update scripts
  infra/seed-node/update-radicle-git-server.sh
Due: ./scripts/license-header.ts check

chore: upload upstream-proxy-dev to the build artifact bucket
  ci/dist.sh
Due: ./scripts/license-header.ts check

fix: fix radicle-git-server startup script
  infra/seed-node/radicle-git-server.service
Due: ./scripts/license-header.ts check

chore: remove unused p2p-network-tests CI script
  README.md
  ci/p2p-network-tests.sh
Due: ./scripts/license-header.ts check

tests: use upstream seed for the sync unit test
  test/proxy/sync.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: move command modal into its own component
  cypress/integration/shortcuts.spec.ts
  ui/App/Hotkeys.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/CheckoutPatchButton.svelte
  ui/App/ProjectScreen/Source/ForkCheckoutProjectButton.svelte
  ui/App/ProjectScreen/Source/MergePatchButton.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/SharedComponents/CommandModal.svelte
  ui/App/SharedComponents/EmptyState.svelte
  ui/src/hotkeys.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: align entity naming with cli tooling and web interface
  cypress/integration/deep_linking.spec.ts
  cypress/integration/onboarding.spec.ts
  cypress/integration/project/patches.spec.ts
  cypress/integration/search.spec.ts
  design-system/lib/format.ts
  docs/development.md
  docs/submit-patch-using-upstream.md
  scripts/devnet.ts
  ui/App/OnboardingModal/Success.svelte
  ui/App/OrgScreen/ConfigureEns/UpdateMetadata.svelte
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProfileHeader.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/ManagePeers/PeerFollowRequest.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/ProjectScreen/Source/CompareBranches.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/SearchModal.svelte
  ui/App/SharedComponents/CopyableIdentifier.svelte
  ui/App/SharedComponents/UserIdentity.svelte
  ui/App/UserProfileScreen/UserProfileHeader.svelte
  ui/App/WalletScreen/LinkAddress.svelte
  ui/App/WalletScreen/LinkAddressModal.svelte
  ui/src/org/theGraphApi.ts
  ui/src/project/patch.ts
  upstream-cli/src/bin/upstream.rs
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/http.rs
  upstream-proxy/src/identity.rs
  upstream-seed/README.md
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: rename "maintainer" -> "delegate"
  cypress/integration/project/patches.spec.ts
  cypress/integration/project/peer_management.spec.ts
  proxy-client/project.ts
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCard.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProfileScreen/ProjectList.svelte
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/SharedComponents/UserBadge.svelte
  ui/App/UserProfileScreen.svelte
  ui/src/project.ts
  ui/src/project/patch.ts
  upstream-proxy/src/daemon/project/peer.rs
  upstream-proxy/src/daemon/state.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/patch.rs
  upstream-proxy/src/project.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove project context menu
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix naming regression from previous renaming
  cypress/integration/search.spec.ts
  design-system/lib/format.ts
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProfileScreen/ProjectCardSquare.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/SearchModal.svelte
  ui/App/SharedComponents/CopyableIdentifier.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: remove stale documentation
  design-system/README.md
  docs/contributing.md
  docs/development.md
  docs/ethereum-attestation.md
  docs/ethereum.md
  docs/wallet-connect-testing.md
Due: ./scripts/license-header.ts check

chore: show correct seed in development mode
  ui/App/PushPullNetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: refresh patches when projects update via git fetch
  ui/App/ProfileScreen.svelte
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove unused project creation and checkout frontend
  cypress/integration/project/checkout.spec.ts
  cypress/integration/project/creation.spec.ts
  cypress/support/ipc-stub.ts
  native/index.ts
  native/ipc-types.ts
  proxy-client/project.ts
  ui/App/CreateProjectModal.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/CheckoutButton.svelte
  ui/App/SharedComponents/DirectoryInput.svelte
  ui/App/SharedComponents/RemoteHelperHint.svelte
  ui/src/error.ts
  ui/src/ipc.ts
  ui/src/project.test.ts
  ui/src/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update radicle-link to cycle/2022-04-05
  Cargo.lock
  Cargo.toml
  upstream-proxy/src/daemon/config.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

chore: update cargo dependencies
  Cargo.lock
Due: ./scripts/license-header.ts check

chore: rename "follow" -> "track"
  cypress/integration/deep_linking.spec.ts
  cypress/integration/project/peer_management.spec.ts
  cypress/integration/project/track.spec.ts
  cypress/integration/search.spec.ts
  design-system/Showcase.svelte
  design-system/TrackToggle.svelte
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/App/OrgScreen/ProjectsMenu.svelte
  ui/App/OrgScreen/UnresolvedAnchorList.svelte
  ui/App/ProfileScreen.svelte
  ui/App/ProjectScreen/ManagePeers/Peer.svelte
  ui/App/ProjectScreen/ManagePeers/PeerTrackRequest.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/App/SearchModal.svelte
  ui/App/SingleSigOrgScreen.svelte
  ui/src/screen/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update npm dependencies
  docs/development.md
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

New onboarding flow
  Cargo.lock
  cypress/integration/onboarding.spec.ts
  cypress/integration/routing.spec.ts
  cypress/plugins/nodeManager/plugin.ts
  cypress/support/ipc-stub.ts
  design-system/RadicleLogo.svelte
  design-system/icons/Circle.svelte
  design-system/icons/Ellipsis.svelte
  docs/development.md
  native/index.ts
  native/ipc-types.ts
  ui/App.svelte
  ui/App/OnboardingModal.svelte
  ui/App/OnboardingModal/CheckItem.svelte
  ui/App/OnboardingModal/CodeBlock.svelte
  ui/App/OnboardingModal/EnterName.svelte
  ui/App/OnboardingModal/EnterPassphrase.svelte
  ui/App/OnboardingModal/Success.svelte
  ui/App/OnboardingModal/Welcome.svelte
  ui/src/ipc.ts
  ui/src/onboarding.ts
  ui/src/session.ts
  upstream-proxy/Cargo.toml
  upstream-proxy/src/cli.rs
  upstream-proxy/src/process.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

clean up seed node infra docs and scripts
  docs/infrastructure.md
  infra/seed-node/setup.sh
  infra/seed-node/update-upstream-seed.sh
  infra/seed-node/upstream-seed.env
  infra/seed-node/upstream-seed.service
Due: ./scripts/license-header.ts check

add cli option for git fetch interval
  test/proxy/support/proxyRunner.ts
  upstream-proxy/src/cli.rs
  upstream-proxy/src/context.rs
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/process.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add HTTP port configuration for test proxy runner
  test/proxy/support/proxyRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove unused code from test support module
  test/proxy/support/proxyRunner.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: persist project/seed mapping when tracking projects
  proxy-client/project.ts
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/NewPatchButton.svelte
  upstream-proxy/src/context.rs
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/http/control.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/project.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix support link
  ui/App/UnrecoverableErrorScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat(ui): added TypeForm integration into Settings page (#2805)
  ui/App/SettingsScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove daemon proxy tests
  upstream-proxy/src/daemon.rs
  upstream-proxy/src/daemon/config.rs
  upstream-proxy/src/daemon/peer/announcement.rs
  upstream-proxy/src/daemon/peer/run_state.rs
  upstream-proxy/src/daemon/project/create.rs
  upstream-proxy/src/daemon/request/waiting_room.rs
  upstream-proxy/src/daemon/state.rs
  upstream-proxy/src/daemon/state/error.rs
Due: ./scripts/license-header.ts check

chore: remove http proxy tests
  upstream-proxy/src/context.rs
  upstream-proxy/src/control.rs
  upstream-proxy/src/daemon/peer/control.rs
  upstream-proxy/src/daemon/peer/run_state.rs
  upstream-proxy/src/daemon/peer/run_state/input.rs
  upstream-proxy/src/daemon/peer/subroutines.rs
  upstream-proxy/src/http/identity.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/http/project/request.rs
  upstream-proxy/src/http/source.rs
  upstream-proxy/src/keystore.rs
  upstream-proxy/src/service.rs
Due: ./scripts/license-header.ts check

chore: clean up redundant clippy config
  upstream-proxy/src/cli.rs
  upstream-proxy/src/daemon.rs
  upstream-proxy/src/daemon/config.rs
  upstream-proxy/src/daemon/peer/announcement.rs
  upstream-proxy/src/daemon/peer/run_state.rs
  upstream-proxy/src/daemon/peer/run_state/command.rs
  upstream-proxy/src/daemon/peer/run_state/input.rs
  upstream-proxy/src/daemon/peer/subroutines.rs
  upstream-proxy/src/daemon/peer/waiting_room.rs
  upstream-proxy/src/daemon/project/peer.rs
  upstream-proxy/src/daemon/request.rs
  upstream-proxy/src/daemon/request/existential.rs
  upstream-proxy/src/daemon/request/waiting_room.rs
  upstream-proxy/src/daemon/state.rs
  upstream-proxy/src/http/control.rs
  upstream-proxy/src/http/diagnostics.rs
  upstream-proxy/src/http/error.rs
  upstream-proxy/src/http/identity.rs
  upstream-proxy/src/http/session.rs
  upstream-proxy/src/http/source.rs
  upstream-proxy/src/lib.rs
  upstream-proxy/src/notification.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/project.rs
  upstream-proxy/src/service.rs
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

chore: remove unused rust dependencies
  Cargo.lock
  upstream-proxy/Cargo.toml
  upstream-seed/Cargo.toml
Due: ./scripts/license-header.ts check

add smoke test for git+http fetch
  .github/workflows/build.yaml
  .gitignore
  ci/build.sh
  package.json
  scripts/git-server-test.sh
  test/proxy/gitFetch.test.ts
  test/proxy/support/process.ts
  test/proxy/support/proxyRunner.ts
  test/proxy/support/testFilter.js
  test/proxy/sync.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove non-existent endpoints
  proxy-client/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: simplify remote modal
  package.json
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/src/screen/project.ts
  ui/src/validation.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: get rid of useless PeerId type alias
  ui/src/identity.ts
  ui/src/project.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
