Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

remove `Remote` component from `ManagePeersModal`
  ui/App/ProjectScreen/ManagePeersModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

seed: add retry logic for fetcher
  proxy/api/src/process.rs
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

aligned sidebar width to profile page
  ui/App/OrgScreen.svelte
  ui/App/SingleSigOrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

seed: don’t log error when remote peer doesn’t provide identity
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

simplify CSS styling for `Code` component
  ui/App/ProjectScreen/Source/Code.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

publish upstream seed binaries on `main` builds
  .github/workflows/dist.yaml
  ci/dist.sh
  upstream-seed/README.md
Due: ./scripts/license-header.ts check

eliminate `Commits` component
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Commits.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/History.svelte
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

commit component owns its state
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: move `shutdown` field to `Sealed` context
  proxy/api/src/context.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

proxy: drop unused `context::Unsealed::signer` field
  proxy/api/src/context.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

proxy: remove redundant `http_listen` field
  proxy/api/src/context.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

move pending peers storage into `ManagePeersModal`
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/src/screen/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: improve seed handling for discovery
  proxy/api/src/context.rs
  proxy/api/src/process.rs
  proxy/api/src/session.rs
Due: ./scripts/license-header.ts check

proxy: add option to override seeds
  proxy/api/src/cli.rs
  proxy/api/src/context.rs
  proxy/api/src/http/session.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

don’t use docker container for linux builds
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  ci/build.sh
  ci/dist.sh
  docs/development.md
Due: ./scripts/license-header.ts check

feat: allow specifying key file via a CLI option
  proxy/api/src/bin/git-remote-rad.rs
  proxy/api/src/cli.rs
  proxy/api/src/keystore.rs
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: ./scripts/license-header.ts check

allow unauthenticated access after unseal
  proxy/api/src/context.rs
  proxy/api/src/http.rs
Due: ./scripts/license-header.ts check

proxy: eliminate indirection in `insecure_http_api` config
  proxy/api/src/process.rs
  proxy/api/src/service.rs
Due: ./scripts/license-header.ts check

add radicle-proxy-init CLI to initialize proxy
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/bin/radicle-proxy-init.rs
  proxy/api/src/config.rs
  proxy/api/src/init_bin.rs
  proxy/api/src/keystore.rs
  proxy/api/src/lib.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

seed: print cli version with git rev info
  upstream-seed/build.rs
  upstream-seed/src/cli.rs
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

tests: retry when proxy has not reloaded yet
  cypress/plugins/nodeManager/plugin.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: disable yarn log grouping on CI
  ci/build.sh
  ci/dist.sh
Due: ./scripts/license-header.ts check

provision stable upstream seed
  docs/infrastructure.md
  infra/seed-node/README.md
  infra/seed-node/google-cloud-ops-agent-config.yaml
  infra/seed-node/setup.sh
  infra/seed-node/update-upstream-seed.sh
  infra/seed-node/upstream-seed.env
  infra/seed-node/upstream-seed.service
  scripts/license-header.ts
  upstream-seed/src/cli.rs
  upstream-seed/src/lib.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

seed: reduce logging noise and log gossip puts
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

docs: remove mention of container registry
  docs/infrastructure.md
Due: ./scripts/license-header.ts check

update npm dependencies
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .prettierrc
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  design-system/Markdown.svelte
  docs/development.md
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: use new URL layout for Gnosis Safe deep links
  ui/App/OrgScreen.svelte
  ui/App/OrgScreen/ConfigureEns/LinkOrgToName.svelte
  ui/App/OrgScreen/MembersMenu.svelte
  ui/App/OrgScreen/Projects.svelte
  ui/src/org.ts
  ui/src/org/safe.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

seed: don’t fetch projects concurrently
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

simplify proxy notifications
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/notification.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

wait until session is unsealed when loading user profile route
  ui/App/UserProfileScreen/route.ts
  ui/src/org.ts
  ui/src/session.ts
  ui/src/svelteStore.test.ts
  ui/src/svelteStore.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: implement "go back" hotkey
  ui/App.svelte
  ui/App/Hotkeys.svelte
  ui/src/hotkeys.ts
  ui/src/router/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: update macOS notarization release steps
  .github/workflows/dist.yaml
  ci/dist.sh
  docs/development.md
  scripts/release.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add isolated p2p network tests
  .github/workflows/p2p-network-tests.yaml
  .gitignore
  ci/p2p-network-tests.sh
  design-system/.gitignore
  docs/development.md
  p2p-tests/keys/seed-hybfoqx9wrdjhnr9jyb74zpduph57z99f67bjgfnsf83p1rk7z1diy.key
  p2p-tests/lib/p2p.ts
  p2p-tests/maintainer-update-propagation-test.ts
  p2p-tests/star-topology.sh
  p2p-tests/workspace/.gitkeep
  proxy/api/src/keystore.rs
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.12
  CHANGELOG.md
  package.json
Due: prettier --write, ./scripts/license-header.ts check

clarify documentation of seed node
  infra/seed-node/README.md
Due: ./scripts/license-header.ts check

fix: prevent navigating back to onboarding via hotkeys
  ui/App/OnboardingModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add back button to project header
  ui/App/ProjectScreen/BackButton.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove default seed
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
