Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

fix: custom protocol not triggering action on cold start
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

separate route URI parsing
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/src/customProtocolHandler.ts
  ui/src/router/index.ts
  ui/src/router/path.test.ts
  ui/src/router/path.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

parse by consuming string instead of regex
  ui/src/router/path.test.ts
  ui/src/router/path.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Enable replication-v3
  Cargo.lock
  Cargo.toml
  p2p-tests/contributor-fork-replication-1-test.ts
  proxy/api/Cargo.toml
  proxy/api/src/process.rs
  upstream-seed/Cargo.toml
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

test: multiple project replication
  ci/p2p-network-tests.sh
  p2p-tests/multiple-project-replication-test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

test: multiple project replication (#2707)
  ci/p2p-network-tests.sh
  p2p-tests/multiple-project-replication-test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: remove unused code
  ui/src/remote.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: eliminate Routing error
  proxy/api/src/http.rs
  proxy/api/src/http/error.rs
  proxy/api/src/http/session.rs
Due: ./scripts/license-header.ts check

fix crash on second instance invocation
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: tell users to share Patch URL
  docs/submit-patch-using-upstream.md
Due: ./scripts/license-header.ts check

fix: typos on docs
  docs/development.md
  docs/submit-patch-using-upstream.md
Due: ./scripts/license-header.ts check

properly open URLs in AppImage
  .github/workflows/dist.yaml
  native/index.ts
  native/nativeCustomProtocolHandler.test.ts
  native/nativeCustomProtocolHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.14
  CHANGELOG.md
  package.json
Due: prettier --write, ./scripts/license-header.ts check

update npm dependencies
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  docs/development.md
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

seed: increase max active membership peers
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

fix: fix release publish instructions for macOS binaries
  scripts/release.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: deploy radicle-http-api on seed-node-2
  docs/infrastructure.md
  docs/submit-patch-using-upstream.md
  infra/seed-node/Caddyfile
  infra/seed-node/README.md
  infra/seed-node/radicle-http-api.service
  infra/seed-node/setup.sh
  infra/seed-node/update-radicle-http-api.sh
Due: ./scripts/license-header.ts check

ci: don’t use yarn cache builds with different deps
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .github/workflows/p2p-network-tests.yaml
Due: ./scripts/license-header.ts check

update checksum for radicle-contract deps
  yarn.lock
Due: ./scripts/license-header.ts check

allow data: images and stylesheets in CSP
  webpack.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ci: run macOS builds on every push
  .github/workflows/build.yaml
Due: ./scripts/license-header.ts check

fix: remove leading and trailing white-space from <pre> tags
  ui/App/DiagnosticsScreen/ProxyLogs.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/Source/PatchButton.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileSource.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add seed.upstream.radicle.xyz as default seed
  docs/submit-patch-using-upstream.md
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update rust toolchain
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .github/workflows/p2p-network-tests.yaml
  rust-toolchain
  upstream-proxy/src/notification.rs
Due: ./scripts/license-header.ts check

dev: build proxy before running devnet peer
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: properly show merge instructions
  ui/App/ProjectScreen/Source/AcceptPatchButton.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

ignore rustsec-2022-0011 advisory
  deny.toml
Due: ./scripts/license-header.ts check

update cargo deps and radicle-link to 2022-02-22
  Cargo.lock
  Cargo.toml
  upstream-cli/src/bin/upstream.rs
  upstream-proxy/src/cli.rs
  upstream-seed/src/cli.rs
Due: ./scripts/license-header.ts check

proxy: use get for control endpoint
  upstream-proxy/src/http/control.rs
Due: ./scripts/license-header.ts check

proxy: delete IntoIter implementation
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/project.rs
Due: ./scripts/license-header.ts check

proxy: remove `Tracked` indirection
  upstream-proxy/src/project.rs
Due: ./scripts/license-header.ts check

proxy: use `rad-identities` to load projects
  upstream-proxy/src/error.rs
  upstream-proxy/src/http/error.rs
  upstream-proxy/src/project.rs
Due: ./scripts/license-header.ts check

proxy: make Project not generic
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/project.rs
Due: ./scripts/license-header.ts check

chore: use active profile in radicle-http-api service
  infra/seed-node/radicle-http-api.env
  infra/seed-node/radicle-http-api.service
  infra/seed-node/setup.sh
Due: ./scripts/license-header.ts check

chore: update radicle-link to cycle/2022-03-01
  Cargo.lock
  Cargo.toml
  ci/dist.sh
  cypress/plugins/nodeManager/plugin.ts
  cypress/plugins/nodeManager/shared.ts
  cypress/support/nodeManager.ts
  docs/development.md
  infra/seed-node/upstream-seed.service
  native/config.ts
  native/index.ts
  p2p-tests/contributor-fork-replication-1-test.ts
  p2p-tests/contributor-fork-replication-2-test.ts
  p2p-tests/lib/p2p.ts
  p2p-tests/maintainer-update-propagation-1-test.ts
  p2p-tests/maintainer-update-propagation-2-test.ts
  p2p-tests/maintainer-update-propagation-3-test.ts
  scripts/devnet.ts
  scripts/env
  upstream-cli/src/bin/upstream.rs
  upstream-proxy/Cargo.toml
  upstream-proxy/src/bin/lnk.rs
  upstream-proxy/src/cli.rs
  upstream-proxy/src/config.rs
  upstream-proxy/src/http.rs
  upstream-proxy/src/http/error.rs
  upstream-proxy/src/http/identity.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/http/session.rs
  upstream-proxy/src/init_bin.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/project.rs
  upstream-proxy/src/service.rs
  upstream-seed/Cargo.toml
  upstream-seed/src/cli.rs
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Run cargo update
  Cargo.lock
Due: ./scripts/license-header.ts check

Fixup
  p2p-tests/multiple-project-replication-test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check
