Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  ui/App/ProjectScreen/ProjectHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style(ui): empty page link style change(#2630)
  ui/App/SharedComponents/EmptyState.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: improve release notarization documentation
  docs/development.md
  scripts/release.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify seed input validation and remove hack
  ui/App/NetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style(ui) Changed link text to use typo-link style (#2630)
  ui/App/SharedComponents/EmptyState.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

apply rustfmt to upstream-seed
  .rustfmt.toml
  upstream-seed/src/cli.rs
  upstream-seed/src/lib.rs
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

seed: log storage put result
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

seed: more readable and useful logging
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

update radicle-link and other cargo dependencies
  Cargo.lock
  Cargo.toml
  proxy/api/src/control.rs
  proxy/api/src/http/project.rs
  proxy/api/src/project.rs
Due: ./scripts/license-header.ts check

style(ui) Removed extraneous redundant button styling (#2630)
  ui/App/SharedComponents/EmptyState.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

style(ui): empty page link style change (#2630)
  ui/App/SharedComponents/EmptyState.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

build: upload artifacts in dist job
  .github/workflows/dist.yaml
  ci/dist.sh
Due: ./scripts/license-header.ts check

add explicit-member-accessibility lint
  .eslintrc.js
  cypress/plugins/nodeManager/plugin.ts
  native/index.ts
  native/proxy-process-manager.ts
  p2p-tests/lib/p2p.ts
  proxy-client/control.ts
  proxy-client/fetcher.ts
  proxy-client/identity.ts
  proxy-client/index.ts
  proxy-client/project.ts
  proxy-client/source.ts
  scripts/license-header.ts
  scripts/release.ts
  ui/src/attestation/contract.ts
  ui/src/attestation/status.ts
  ui/src/error.ts
  ui/src/ethereum/debug.ts
  ui/src/ethereum/walletConnect.ts
  ui/src/ethereum/walletConnectSigner.ts
  ui/src/mutexExecutor.ts
  ui/src/updateChecker.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: improved peer events
  Cargo.lock
  proxy/api/Cargo.toml
  proxy/api/src/context.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

test: add more p2p networking testcases
  Cargo.lock
  Cargo.toml
  ci/p2p-network-tests.sh
  p2p-tests/active-sets-test.ts
  p2p-tests/lib/p2p.ts
  p2p-tests/lib/topology.sh
  p2p-tests/maintainer-update-propagation-1-test.ts
  p2p-tests/maintainer-update-propagation-2-test.ts
  p2p-tests/maintainer-update-propagation-3-test.ts
  p2p-tests/maintainer-update-propagation-test.ts
  p2p-tests/mesh-topology.sh
  p2p-tests/star-topology.sh
  proxy/api/Cargo.toml
  proxy/api/src/bin/rad.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: less noisy logging
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

tests: work around for failure with unroutable peers
  p2p-tests/lib/p2p.ts
  p2p-tests/lib/topology.sh
  p2p-tests/mesh-topology.sh
  p2p-tests/star-topology.sh
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update radicle-link and rust toolchain
  Cargo.lock
  Cargo.toml
  proxy/api/src/http/diagnostics.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/source.rs
  proxy/api/src/keystore.rs
  proxy/api/src/process.rs
  rust-toolchain
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

make logs more readable
  proxy/api/src/process.rs
  upstream-seed/src/lib.rs
Due: ./scripts/license-header.ts check

tests: make p2p network tests work on Intel macOS hosts
  .gitignore
  Vagrantfile
  docs/infrastructure.md
  p2p-tests/lib/p2p.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

tests: verify contributor updates propagate back to maintainer
  ci/p2p-network-tests.sh
  p2p-tests/contributor-fork-replication-1-test.ts
  p2p-tests/contributor-fork-replication-2-test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

optimize build cache by removing large files
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .github/workflows/p2p-network-tests.yaml
  ci/build.sh
  ci/dist.sh
  ci/env.sh
  ci/p2p-network-tests.sh
Due: ./scripts/license-header.ts check

proxy: encapsulate peer
  proxy/api/src/browser.rs
  proxy/api/src/context.rs
  proxy/api/src/control.rs
  proxy/api/src/http.rs
  proxy/api/src/http/control.rs
  proxy/api/src/http/diagnostics.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/notification.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/project/request.rs
  proxy/api/src/http/source.rs
  proxy/api/src/lib.rs
  proxy/api/src/patch.rs
  proxy/api/src/peer.rs
  proxy/api/src/process.rs
  proxy/api/src/project.rs
  proxy/api/src/session.rs
Due: ./scripts/license-header.ts check

feat: add proxy logs tab to diagnostics screen
  cypress/support/ipc-stub.ts
  native/index.ts
  native/ipc-types.ts
  native/proxy-process-manager.ts
  ui/App/DiagnosticsScreen.svelte
  ui/App/DiagnosticsScreen/Connections.svelte
  ui/App/DiagnosticsScreen/ProxyLogs.svelte
  ui/App/DiagnosticsScreen/Storage.svelte
  ui/src/ipc.ts
  ui/src/router/definition.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: clear seed input after adding seed
  cypress/integration/networking.spec.ts
  ui/App/NetworkScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

seed: add “getting started” to readme
  upstream-seed/README.md
Due: ./scripts/license-header.ts check

tests: force immediate shutdown of proxy and seed
  p2p-tests/lib/p2p.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: use the Graph for Gnosis Safe queries
  ui/App/UserProfileScreen.svelte
  ui/src/org.ts
  ui/src/org/safe.ts
  ui/src/org/theGraphApi.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: move attestation widget beneath wallet balance
  ui/App/WalletScreen.svelte
  ui/App/WalletScreen/ConnectWallet.svelte
  ui/App/WalletScreen/LinkAddress.svelte
  ui/App/WalletScreen/Transactions.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: show newly created org only after Gnosis API picks it up
  ui/src/org.ts
  ui/src/org/contract.ts
  ui/src/org/safe.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix multisig org anchor buttons
  ui/App/OrgScreen/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: add default bg color for image avatars with transparency
  design-system/Avatar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.2.13
  CHANGELOG.md
  package.json
Due: prettier --write, ./scripts/license-header.ts check

docs: improve build instructions
  README.md
Due: ./scripts/license-header.ts check

docs: fix DCO RFC link
  docs/development.md
Due: ./scripts/license-header.ts check

temporarily ignore advisory for `lru` crate
  deny.toml
Due: ./scripts/license-header.ts check

use `retryOnError` instead of custom retry logic
  ui/src/org/safe.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: prevent commit teaser overflow in project source screen
  ui/App/ProjectScreen/Source/Code.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: clear badge text on peer selector change
  ui/App/SharedComponents/UserBadge.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
