Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: add missing “the”
  LICENSE
Due: ./scripts/license-header.ts check

docs: remove trailing whitespace from DCO
  DCO
Due: ./scripts/license-header.ts check

docs: use official DCO v1.1
  DCO
Due: ./scripts/license-header.ts check

document new RUSTSEC advisories and update deps
  Cargo.lock
  deny.toml
Due: ./scripts/license-header.ts check

build on Ubuntu 18.04 for improved GLIBC compatibility
  .github/workflows/build.yaml
  .github/workflows/dist.yaml
  .github/workflows/p2p-network-tests.yaml
  ci/build.sh
  ci/p2p-network-tests.sh
Due: ./scripts/license-header.ts check

devnet instance connects to bootstrap peer faster
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

devnet script waits for the child process before exiting
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

more strict content security policies
  webpack.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

sanitize user generated markdown
  design-system/Markdown.svelte
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove redundant @tsconfig/svelte
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

update npm dependencies
  docs/development.md
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

docs: make LICENSE’s word wrap more consistent
  LICENSE
Due: ./scripts/license-header.ts check

docs: add missing word
  LICENSE
Due: ./scripts/license-header.ts check

Make the design section more readable and accurate
  docs/contributing.md
Due: ./scripts/license-header.ts check

modularize electron main process code
  native/index.ts
  native/windowManager.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use execa instead of handcrafted function
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

run app in dev mode during development
  native/index.js
  package.json
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

build and publish macOS app on main branch builds
  .github/workflows/dist.yaml
  README.md
  ci/dist.sh
  package.json
  scripts/release.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add devnet shell command to act as devnet peer
  docs/development.md
  package.json
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use JavaScript for configuring electron builder
  .eslintrc.js
  builder/notarize.js
  electron-builder.js
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

cypress: connect nodes client side
  cypress/plugins/nodeManager/plugin.ts
  cypress/plugins/nodeManager/shared.ts
  cypress/support/nodeManager.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

cypress: eliminate `Node` class
  cypress/plugins/nodeManager/plugin.ts
  cypress/plugins/nodeManager/shared.ts
  cypress/support/nodeManager.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use proxy-client in cypress tests
  cypress/plugins/nodeManager/plugin.ts
  cypress/plugins/nodeManager/shared.ts
  cypress/support/nodeManager.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

tests: disable CSS animations and transitions
  cypress/support/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: document default devnet passphrase
  docs/development.md
Due: ./scripts/license-header.ts check

docs: rewrite contribution workflow
  docs/accepting-contributions-workflow.md
  docs/contributing.md
  docs/submit-patch-using-upstream.md
Due: ./scripts/license-header.ts check

add upstream cli with patch support
  Cargo.lock
  Cargo.toml
  ci/dist.sh
  ci/env.sh
  cypress/integration/project/patches.spec.ts
  docs/code-contribution-using-upstream.md
  electron-builder.js
  native/index.ts
  ui/App/ProjectScreen/Source/AcceptPatchButton.svelte
  ui/App/ProjectScreen/Source/CheckoutPatchButton.svelte
  ui/App/ProjectScreen/Source/PatchButton.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/src/project/patch.ts
  upstream-cli/Cargo.toml
  upstream-cli/build.rs
  upstream-cli/src/bin/upstream.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: don't copy rad remote helper
  cypress/plugins/nodeManager/plugin.ts
  native/index.ts
  p2p-tests/lib/p2p.ts
  proxy/api/src/cli.rs
  proxy/api/src/config.rs
  proxy/api/src/git_helper.rs
  proxy/api/src/lib.rs
  proxy/api/src/process.rs
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

tests: use zero keystroke delay
  cypress/support/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: don’t store identity in session
  proxy/api/src/context.rs
  proxy/api/src/http.rs
  proxy/api/src/http/identity.rs
  proxy/api/src/http/project.rs
  proxy/api/src/http/session.rs
  proxy/api/src/init_bin.rs
  proxy/api/src/keystore.rs
  proxy/api/src/session.rs
Due: ./scripts/license-header.ts check

improve submit patch wording
  docs/submit-patch-using-upstream.md
Due: ./scripts/license-header.ts check

ci: fix type in dist workflow
  ci/dist.sh
  docs/development.md
  package.json
  scripts/dist.sh
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

update radicle-link to 2022-02-15
  Cargo.lock
  Cargo.toml
  deny.toml
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

feat: link to patch via custom protocol
  cypress/integration/deep_linking.spec.ts
  ui/App/ProjectScreen/Source/BranchBox.svelte
  ui/App/ProjectScreen/Source/CompareBranches.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/src/customProtocolHandler.ts
  ui/src/router/definition.ts
  ui/src/router/index.ts
  ui/src/router/path.test.ts
  ui/src/router/path.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: fix patch tests
  cypress/integration/project/patches.spec.ts
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Use librad with replication-v3 enabled
  proxy/api/Cargo.toml
  upstream-seed/Cargo.toml
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

Prettier log format
  Cargo.lock
  Cargo.toml
  upstream-seed/Cargo.toml
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

Try latest master
  Cargo.lock
  Cargo.toml
Due: ./scripts/license-header.ts check

docs: fix small wording issues in patch docs
  docs/submit-patch-using-upstream.md
Due: ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
