Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

.lintstagedrc.yaml:

"*.{ts,js,css,json,html,svelte}":
- prettier --write
"*.{js,ts,svelte}":
- eslint --fix --max-warnings=0
"*":
- ./scripts/license-header.ts check

tests wait until Webpack builds UI
  playwright.config.ts
  test/support/playwright/globalSetup.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

configure Electron stubs in App
  jest.config.js
  test/support/peerManager.ts
  test/support/playwright/fixtures.ts
  test/support/playwright/ipcStub.js
  tsconfig.json
  ui/index.ts
  ui/src/config.ts
  ui/src/electronTestStub.ts
  ui/src/ipc.ts
  webpack.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

migrate basic app version tests
  cypress/integration/settings.spec.ts
  test/e2e/settings.test.ts
  ui/App/Notifications/Notification.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

migrate deep linking tests to playwright
  cypress/integration/deep_linking.spec.ts
  test/e2e/deepLinking.test.ts
  test/e2e/patch.test.ts
  test/support/playwright/fixtures/app.ts
  ui/App/SearchModal.svelte
  ui/src/electronTestStub.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Incorporate macOS arm64 binaries into release procedure
  docs/development.md
  scripts/release.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove standard-version from our release process
  CHANGELOG.md
  docs/contributing.md
  docs/development.md
  package.json
  scripts/release.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Rewrite QA procedure
  docs/qa.md
Due: ./scripts/license-header.ts check

Port source browsing spec from Cypress to Playwright
  ci/build.sh
  cypress/integration/project/source_browsing.spec.ts
  cypress/integration/routing.spec.ts
  docs/development.md
  scripts/test-setup.sh
  test/e2e/sourceBrowsing.test.ts
  test/fixtures/.gitkeep
  test/fixtures/git-platinum/FETCH_HEAD
  test/fixtures/git-platinum/HEAD
  test/fixtures/git-platinum/config
  test/fixtures/git-platinum/description
  test/fixtures/git-platinum/info/exclude
  test/fixtures/git-platinum/info/refs
  test/fixtures/git-platinum/objects/info/packs
  test/fixtures/git-platinum/objects/pack/pack-7ba6bf5c60e21fb7bef82d179d1ffb428ff7097d.bitmap
  test/fixtures/git-platinum/objects/pack/pack-7ba6bf5c60e21fb7bef82d179d1ffb428ff7097d.idx
  test/fixtures/git-platinum/objects/pack/pack-7ba6bf5c60e21fb7bef82d179d1ffb428ff7097d.pack
  test/fixtures/git-platinum/packed-refs
  test/fixtures/git-platinum/refs/.gitkeep
  test/support.ts
  test/support/playwright/fixtures/app.ts
  test/support/playwright/fixtures/projectScreen.ts
  ui/App/ScreenLayout/TabBar.svelte
  ui/App/SharedComponents/RevisionSelector.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Make peerManagement test less flaky
  test/e2e/peerManagement.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Upload Playwright test-result artifacts on CI
  .github/workflows/build.yaml
Due: ./scripts/license-header.ts check

Remove unused cypress code
  cypress/support/assertions.js
  cypress/support/commands.ts
  cypress/support/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove playwright debug statements
  test/e2e/patch.test.ts
  test/e2e/peerManagement.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Increase timeouts on CI
  playwright.config.ts
  test/e2e/patch.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove unused control http endpoints from proxy
  cypress/support/commands.ts
  upstream-proxy/src/control.rs
  upstream-proxy/src/http/control.rs
  upstream-proxy/src/lib.rs
  upstream-proxy/src/service.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove deprecated test setup
  ci/build.sh
  ci/gitconfig
Due: ./scripts/license-header.ts check

Make tests less flaky
  playwright.config.ts
  test/e2e/patch.test.ts
  test/e2e/sourceBrowsing.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

small cleanups in release docs and script
  docs/development.md
  scripts/release.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

tests: consistent naming and position of peer argument
  test/e2e/patch.test.ts
  test/e2e/sourceBrowsing.test.ts
  test/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move support function into test and hard-code some data
  test/e2e/sourceBrowsing.test.ts
  test/support.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

eliminate or migrate cypress routing tests
  cypress/integration/routing.spec.ts
  test/e2e/proxyError.test.ts
  test/support/playwright/fixtures/app.ts
  ui/App.svelte
  ui/App/ProxyErrorScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

migrate update checker tests to playwright
  cypress/integration/settings.spec.ts
  package.json
  test/e2e/deepLinking.test.ts
  test/e2e/lock.test.ts
  test/e2e/modal.test.ts
  test/e2e/patch.test.ts
  test/e2e/peerManagement.test.ts
  test/e2e/proxyError.test.ts
  test/e2e/search.test.ts
  test/e2e/settings.test.ts
  test/e2e/sourceBrowsing.test.ts
  test/support/peerManager.ts
  test/support/playwright/fixtures.ts
  ui/index.ts
  ui/src/config.ts
  ui/src/e2eTestStubs.ts
  ui/src/updateChecker.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove cypress deep-linking tests
  cypress/integration/deep_linking.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove Cypress
  .github/workflows/build.yaml
  .github/workflows/deploy-design-system.yaml
  .github/workflows/dist.yaml
  ci/Dockerfile
  ci/build.sh
  ci/env.sh
  cypress.json
  cypress/.eslintrc.json
  cypress/empty.html
  cypress/plugins/ethereumDevNode/api.ts
  cypress/plugins/ethereumDevNode/index.ts
  cypress/plugins/index.ts
  cypress/plugins/nodeManager/plugin.ts
  cypress/plugins/nodeManager/shared.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/support/ipc-stub.ts
  cypress/support/nodeManager.ts
  cypress/support/plugin.ts
  cypress/tsconfig.json
  docs/development.md
  package.json
  tsconfig.json
  ui/App.svelte
  ui/src/config.ts
  ui/src/ethereum/index.ts
  ui/src/ethereum/walletConnect.ts
  ui/src/ipc.ts
  ui/src/org.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove unused Vagrantfile and Dockerfile
  Vagrantfile
  ci/Dockerfile
Due: ./scripts/license-header.ts check

Add number variant to TextInput
  design-system/Showcase.svelte
  design-system/TextInput.svelte
  ui/App/LockScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Make TextInput take full width by default
  design-system/Showcase.svelte
  design-system/TextInput.svelte
  ui/App/OrgScreen/ConfigureEns/LinkOrgToName.svelte
  ui/App/ProjectScreen/ManagePeersModal.svelte
  ui/App/SearchModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add TextArea component
  design-system/Showcase.svelte
  design-system/TextArea.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@4e56c166c67c06815dc34fb22e7daa424483aeb6 🚀
  bundle.js
  bundle.js.map
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove unused proxy control endpoints
  upstream-proxy/src/context.rs
  upstream-proxy/src/http.rs
  upstream-proxy/src/http/control.rs
  upstream-proxy/src/process.rs
Due: ./scripts/license-header.ts check

proxy: eliminate --test flag and temp dir support
  upstream-proxy/src/cli.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/service.rs
Due: ./scripts/license-header.ts check

tests: write proxy and shell output to file
  .github/workflows/build.yaml
  test/support/peerManager.ts
  test/support/playwright/fixtures.ts
  test/support/process.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use Bacon.EventStream for electron messages
  ui/src/customProtocolHandler.ts
  ui/src/error.ts
  ui/src/ipc.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

prevent notifications from intercepting pointer events
  ui/App/Notifications.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add another navigation level to Patch screen
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/ProjectScreen/route.ts
  ui/src/project/patch.ts
  ui/src/router/path.test.ts
  ui/src/router/path.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Implement patch discussions
  design-system/Markdown.svelte
  design-system/TextArea.svelte
  design-system/static/typography.css
  package.json
  test/e2e/patch.test.ts
  test/support/playwright/fixtures/app.ts
  test/support/playwright/fixtures/projectScreen.ts
  ui/App/Hotkeys.svelte
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchDiscussion.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/SharedComponents/UserIdentity.svelte
  ui/src/project/patch.ts
  ui/src/screen/project.ts
  ui/src/source.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@cb0f9fd221ac5497c61f94b65f0bb0c61b1e1160 🚀
  bundle.js
  bundle.js.map
  typography.css
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use playwright Github reporter on Github CI
  playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Increase patch discussions test timeout
  test/e2e/patch.test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Upgrade vulnerable rust dependency
  Cargo.lock
Due: ./scripts/license-header.ts check

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check
