Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Create Sjenica1
  Sjenica1
Due: ./scripts/license-header.ts check

Adds `cmake` dependency
  docs/development.md
Due: ./scripts/license-header.ts check

fix: 404 broken link on wallet screen (#2711)
  ui/App/WalletScreen/QrCodeModal.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: announcements not reliable on seed
  upstream-seed/src/peer.rs
Due: ./scripts/license-header.ts check

docs: improve badge alt text
  README.md
Due: ./scripts/license-header.ts check

docs: add "accepting contributions workflow" doc
  docs/user-stories/accepting-contributions-workflow.md
Due: ./scripts/license-header.ts check

test: add test for implicitly tracked peer branches
  ci/p2p-network-tests.sh
  p2p-tests/contributor-fork-replication-2-test.ts
  p2p-tests/implicitly-tracked-peer-branches-test.ts
  p2p-tests/star-topology.sh
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fixup
  p2p-tests/implicitly-tracked-peer-branches-test.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

publish `rad` binary on main branch builds
  ci/dist.sh
Due: ./scripts/license-header.ts check

proxy: extract signal handler logic into function
  proxy/api/src/process.rs
Due: ./scripts/license-header.ts check

document code contribution process using Upstream
  docs/accepting-contributions-workflow.md
  docs/code-contribution-using-upstream.md
Due: ./scripts/license-header.ts check

docs: Fix capitalization of "Radicle"
  README.md
  docs/development.md
Due: ./scripts/license-header.ts check

add detailed instructions to code contrib guide
  docs/code-contribution-using-upstream.md
  ui/App/ProjectScreen/Source/CheckoutPatchButton.svelte
  ui/App/ProjectScreen/Source/PatchButton.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add CLI tool for running and connecting multiple upstream instances
  docs/development.md
  p2p-tests/lib/p2p.ts
  package.json
  proxy/api/src/cli.rs
  scripts/devnet.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Bump copyright year
  LICENSE
Due: ./scripts/license-header.ts check

Remove trailing whitespace from LICENSE
  LICENSE
Due: ./scripts/license-header.ts check

docs: fix capitalization
  LICENSE
Due: ./scripts/license-header.ts check

docs: fix DCO reference
  LICENSE
Due: ./scripts/license-header.ts check

docs: deduplicate link
  docs/accepting-contributions-workflow.md
Due: ./scripts/license-header.ts check

docs: add missing article
  docs/accepting-contributions-workflow.md
Due: ./scripts/license-header.ts check

docs: fix capitalization
  docs/accepting-contributions-workflow.md
Due: ./scripts/license-header.ts check

use Node v16.13 for development and CI
  .nvmrc
  .tool-versions
  Vagrantfile
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

chore: move vagrant cargo target directory
  Vagrantfile
Due: ./scripts/license-header.ts check

use ip4 address when waiting for test services to start
  package.json
Due: prettier --write, ./scripts/license-header.ts check

migrate from structopt to clap v3
  Cargo.lock
  p2p-tests/lib/p2p.ts
  proxy/api/Cargo.toml
  proxy/api/src/cli.rs
  proxy/api/src/init_bin.rs
  scripts/devnet.ts
  upstream-seed/Cargo.toml
  upstream-seed/src/cli.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix command for pulling maintainer changes
  docs/code-contribution-using-upstream.md
Due: ./scripts/license-header.ts check

update NPM dependencies
  cypress/support/commands.ts
  docs/development.md
  package.json
  ui/App/ProjectScreen/Source/Commit.svelte
  ui/App/ProjectScreen/Source/PatchButton.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileSource.svelte
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: allow test/development/production envs to run side-by-side
  cypress/integration/search.spec.ts
  cypress/plugins/nodeManager/plugin.ts
  cypress/support/commands.ts
  native/index.ts
  p2p-tests/lib/p2p.ts
  package.json
  ui/src/config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: update to the latest radicle-source/surf
  Cargo.lock
Due: ./scripts/license-header.ts check

docs: fix link
  docs/contributing.md
Due: ./scripts/license-header.ts check

docs: add final line terminator
  docs/contributing.md
Due: ./scripts/license-header.ts check

consolidate upstream configuration
  native/config.ts
  native/index.ts
  native/proxy-process-manager.ts
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add file diff collapse button
  ui/App/ProjectScreen/Source/SourceBrowser/FileDiff.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add command to run seed in devnet
  docs/development.md
  scripts/devnet.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: singular vs plural fix
  docs/development.md
Due: ./scripts/license-header.ts check

docs: fix Jest link
  docs/development.md
Due: ./scripts/license-header.ts check

docs: minor English fixes for UI tests
  docs/development.md
Due: ./scripts/license-header.ts check

docs: fix typography.css link
  docs/development.md
Due: ./scripts/license-header.ts check

docs: fix anchor link
  docs/development.md
Due: ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
