Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@11df4ccf66d061b9f4f25557d85f24aa691202b0 🚀
  bundle.js.map
Due: ./scripts/license-header.ts check

upgrade typescript and fix node-fetch types
  package.json
  scripts/license-header.ts
  typings/node-fetch.d.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

proxy: remove unused --identity-key option
  upstream-proxy/src/cli.rs
  upstream-proxy/src/process.rs
  upstream-proxy/src/service.rs
Due: ./scripts/license-header.ts check

remove ability to reset proxy via SIGHUP
  upstream-proxy/src/process.rs
  upstream-proxy/src/service.rs
Due: ./scripts/license-header.ts check

proxy: use anyhow for error handling
  upstream-proxy/src/service.rs
Due: ./scripts/license-header.ts check

tests: don’t use data-cy for counter assertions
  design-system/Counter.svelte
  test/e2e/patch.test.ts
  test/e2e/sourceBrowsing.test.ts
  test/support/playwright/fixtures/projectScreen.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Improve Hovercard and Tooltip interactions
  design-system/Hovercard.svelte
  design-system/Tooltip.svelte
  test/e2e/sourceBrowsing.test.ts
  ui/App/SharedComponents/UserIdentity.svelte
  ui/App/Sidebar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Remove deprecated eth attestation from user identity hovercard
  ui/App/SharedComponents/UserIdentity.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

dedupe yarn depdendencies
  yarn.lock
Due: ./scripts/license-header.ts check

fix type errors introduced by TypeScript upgrade
  ui/App/ModalLayout.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@c2ba4ce96c36a252b1efb2bb3a813d3019ea984f 🚀
  bundle.js
  bundle.js.map
  bundle.licenses.txt
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move patches data to project screen
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/src/screen/project.ts
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

show project loading state only when project urn changes
  ui/src/screen/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

extract project screen tabs into module
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/tabs.ts
  ui/App/ScreenLayout/TabBar.svelte
  ui/App/ScreenLayout/TabBar.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move patch screen to project screen
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/Patch.svelte
  ui/App/ProjectScreen/Patch/Actions.svelte
  ui/App/ProjectScreen/Patch/Discussion.svelte
  ui/App/ProjectScreen/Patch/Loaded.svelte
  ui/App/ProjectScreen/PatchIcon.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

don’t show loading indicator when patch refreshes in the background
  ui/App/ProjectScreen/Patch.svelte
  ui/App/ProjectScreen/Patch/Discussion.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

disable preview after submitting patch comment
  ui/App/ProjectScreen/Patch/Discussion.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify source file tree view
  ui/App/ProjectScreen/Source/Code.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/Tree.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/Tree/Folder.svelte
  ui/src/screen/project/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix source browsing race conditions
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Code.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileView.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/Tree.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/Tree/Folder.svelte
  ui/src/screen/project/source.ts
  ui/src/source.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

move patch list screen to project screen
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/PatchCard.svelte
  ui/App/ProjectScreen/PatchList.svelte
  ui/App/ProjectScreen/Source.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

remove project anchors screen
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Anchors.svelte
  ui/App/ProjectScreen/route.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

clean up TabBar and its test selectors
  test/e2e/sourceBrowsing.test.ts
  test/support/playwright/fixtures/projectScreen.ts
  ui/App/ScreenLayout/TabBar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify reactive declaration of patch fetching
  ui/App/ProjectScreen/Patch.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

don’t show "not replicated" on concurrent patch fetches
  ui/App/ProjectScreen/Patch.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

extract project screen header
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/Header.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

simplify patch listing in proxy to make it more portable
  upstream-proxy/src/patch.rs
Due: ./scripts/license-header.ts check

update cargo dependencies
  Cargo.lock
  upstream-proxy/Cargo.toml
Due: ./scripts/license-header.ts check

Show file contents for created and deleted files
  proxy-client/commit.ts
  ui/App/ProjectScreen/Source/SourceBrowser/Changeset.svelte
  ui/App/ProjectScreen/Source/SourceBrowser/FileDiff.svelte
  ui/src/source/diff.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Update radicle-source dependency
  Cargo.lock
  Cargo.toml
  upstream-proxy/Cargo.toml
Due: ./scripts/license-header.ts check

Fix project routing
  ui/App/ProjectScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Fix pinning mistake in Cargo.toml
  Cargo.lock
  Cargo.toml
Due: ./scripts/license-header.ts check

Show deprecation notification
  ui/App.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Add sunsetting warning to the README
  README.md
Due: ./scripts/license-header.ts check

Fix formatting
  README.md
Due: ./scripts/license-header.ts check

chore(release): 0.3.2
  CHANGELOG.md
Due: ./scripts/license-header.ts check

Remove dev build links
  README.md
Due: ./scripts/license-header.ts check

Fix version number in package.json
  package.json
Due: prettier --write, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
