Repository radicle-dev/radicle-upstream: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add counters to patch filter
  design-system/Counter.svelte
  design-system/SegmentedControl.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ScreenLayout/TabBar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: patch list empty state positioning
  ui/App/ProjectScreen/Source/PatchList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: show "Checkout project" button only on the "Files" tab
  ui/App/ProjectScreen/Source.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: decouple PatchCard and PatchList
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: move patch actions to top bar
  test/e2e/patch.test.ts
  test/support/playwright/fixtures/projectScreen.ts
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/Patch.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/App/ScreenLayout/ActionBar.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@91683cb1b3c3a130955e5f505a8398de8c7d7e8d 🚀
  bundle.js
  bundle.js.map
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs(design-system): fix script name
  design-system/README.md
Due: ./scripts/license-header.ts check

feat: automatically set twemoji asset base path
  design-system/Emoji.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@c22af1d8b75704dfd84546a937281be6f3f76d35 🚀
  bundle.js
  bundle.js.map
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs: document Svelte Kit static CSS asset import trick
  design-system/README.md
Due: ./scripts/license-header.ts check

adjust end-to-end tests details
  test/e2e/patch.test.ts
  test/proxy/gitFetch.test.ts
  test/support.ts
  test/support/jest/testFilter.js
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

reduce number of slots for ActionBar
  ui/App/DiagnosticsScreen.svelte
  ui/App/OrgScreen.svelte
  ui/App/ProjectScreen/Source.svelte
  ui/App/ScreenLayout/ActionBar.svelte
  ui/App/SingleSigOrgScreen.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: improve detecting the git binary
  native/config.ts
  native/index.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: show error notification when the `git` binary can't be found
  native/windowManager.ts
  ui/App.svelte
  ui/App/OnboardingModal.svelte
  ui/src/config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

refactor: use string literal types instead of enums
  ui/src/appearance.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore: show icons in design system showcase
  design-system/Showcase.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

extract patch actions
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/PatchActions.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

update yarn
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write, ./scripts/license-header.ts check

update yarn dependencies
  design-system/package.json
  package.json
  ui/App/ProjectScreen/Source/SourceBrowser/FileView.svelte
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

semaphore map
  Cargo.lock
  upstream-proxy/Cargo.toml
  upstream-proxy/src/lib.rs
  upstream-proxy/src/semaphore_map.rs
Due: ./scripts/license-header.ts check

add method to run blocking function against monorepo.
  upstream-proxy/src/peer.rs
Due: ./scripts/license-header.ts check

Events and patch statuses
  Cargo.lock
  proxy-client/project.ts
  test/e2e/patch.test.ts
  test/proxy/events.test.ts
  test/support.ts
  ui/App/ProjectScreen/Source.svelte
  ui/App/ProjectScreen/Source/PatchActions.svelte
  ui/App/ProjectScreen/Source/PatchCard.svelte
  ui/App/ProjectScreen/Source/PatchIcon.svelte
  ui/App/ProjectScreen/Source/PatchList.svelte
  ui/App/ProjectScreen/Source/PatchLoaded.svelte
  ui/src/project/patch.ts
  ui/src/screen/project/source.ts
  upstream-proxy/Cargo.toml
  upstream-proxy/src/context.rs
  upstream-proxy/src/events.rs
  upstream-proxy/src/git_fetch.rs
  upstream-proxy/src/http/project.rs
  upstream-proxy/src/http_next.rs
  upstream-proxy/src/http_next/project.rs
  upstream-proxy/src/lib.rs
  upstream-proxy/src/peer.rs
  upstream-proxy/src/process.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

retain playwright test results on failure
  playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

migrate peer management tests to playwright
  cypress/integration/project/peer_management.spec.ts
  design-system/Button.svelte
  test/e2e/peerManagement.test.ts
  test/support.ts
  test/support/playwright/fixtures/projectScreen.ts
  ui/App/ModalLayout/Modal.svelte
  ui/App/ProjectScreen.svelte
  ui/App/SharedComponents/PeerSelector.svelte
  ui/src/screen/project.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

use one webserver for all e2e tests
  package.json
  playwright.config.ts
  test/proxy/events.test.ts
  test/proxy/gitFetch.test.ts
  test/support/peerRunner.ts
  test/support/playwright/globalSetup.ts
  yarn.lock
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Deploying to gh-pages from @ radicle-dev/radicle-upstream@cdcb9e49250d1440a30304966c54c4079f9e4845 🚀
  bundle.js
  bundle.js.map
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

introduce PeerManager for managing peer in tests
  playwright.config.ts
  test/e2e/lock.test.ts
  test/e2e/modal.test.ts
  test/e2e/patch.test.ts
  test/e2e/peerManagement.test.ts
  test/e2e/search.test.ts
  test/proxy/events.test.ts
  test/proxy/gitFetch.test.ts
  test/support.ts
  test/support/peerManager.ts
  test/support/playwright/fixtures.ts
  test/support/playwright/globalSetup.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

avoid redirect responses and remove workaround
  proxy-client/project.ts
  upstream-proxy/src/http_next/project.rs
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

add `/test-results` to `.gitignore`
  .gitignore
Due: ./scripts/license-header.ts check

chore: remove stats from project header
  ui/App/ProjectScreen.svelte
  ui/App/ProjectScreen/ProjectHeader.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

feat: add copy project shareable link to context menu
  ui/App/ProjectScreen.svelte
  ui/src/customProtocolHandler.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix message and add context for event SSE endpoint
  ui/src/localPeer.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

docs(design-system): improve design system readme
  design-system/README.md
Due: ./scripts/license-header.ts check

print playwright browser logs to stdout
  playwright.config.ts
  test/support/playwright/fixtures.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

fix: source browsing spec
  cypress/integration/project/source_browsing.spec.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

migrate theme settings tests to playwright
  cypress/integration/settings.spec.ts
  test/e2e/settings.test.ts
  test/support/playwright/fixtures/app.ts
  ui/App/Sidebar.svelte
  ui/App/Sidebar/SidebarItem.svelte
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

chore(release): 0.3.1
  CHANGELOG.md
  package.json
Due: prettier --write, ./scripts/license-header.ts check

use default for number of playwright workers locally
  playwright.config.ts
Due: prettier --write, eslint --fix --max-warnings=0, ./scripts/license-header.ts check

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,html,svelte}
  eslint --fix --max-warnings=0: any of: *.{js,ts,svelte}
  ./scripts/license-header.ts check: any of: *
